<app-spinner-utileria *ngIf='spinner'></app-spinner-utileria>
<div class='containerAll'>
    <!-- <app-breadcrumbs [ruta]="breadcrumb"></app-breadcrumbs> -->
    <mat-card class="cardMarginBottom">
        <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12">
                <mat-form-field class='flotanteDerecha'>
                    <mat-label>Consultar otro día</mat-label>
                    <input matInput [matDatepicker]="dp3" disabled>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12 col-md-12 col-xl-12 text-center'>
                <h1>Amarre de caja</h1>
                <p>{{[fechaHoy]}}</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12 col-md-4 col-xl-4'>
                <span>
                    <mat-form-field class="inputFullWide">
                        <mat-select placeholder='Selecciona una sucursal'
                            (selectionChange)="CargaAnticipo($event.value)">
                            <mat-option *ngFor="let sucursal of sucursalesList" [value]="sucursal">
                                {{sucursal.suc_nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
        </div>
    </mat-card>
    <div *ngIf="verGrid">
        <mat-card class='cardMarginBottom'>
            <div class='row m-2'>
                <div fxLayout="row">
                    <div class="selected-project">INGRESOS PENDIENTES POR DEPOSITAR DE DIAS ANTERIORES</div>
                </div>
            </div>

            <dx-data-grid class='m-2' [dataSource]="anticiposAnteriores" [columns]="columns" [showBorders]="true">
            </dx-data-grid>
            <div class='row m-1 '>
                <span>SALDO CONTABLE INICIAL DE CAJA</span>
            </div>
        </mat-card>

        <mat-card class='cardMarginBottom'>
            <div class='row m-2'>
                <div fxLayout="row">
                    <div class="selected-project">INGRESOS PENDIENTES POR DEPOSITAR DEL DÍA DE HOY</div>
                </div>
            </div>
            <dx-data-grid class='m-2' [dataSource]="anticipos" [columns]="columns" [showBorders]="true">
            </dx-data-grid>
            <div class='row m-1 '>
                <span>TOTAL INGRESOS CORTE DE CAJA</span>
            </div>
        </mat-card>

        <mat-card class='cardMarginBottom'>
            <div class=''>
                <div class='ml-3 mr-3'>
                    <div class='row mt-4 bordes'>
                        <div class='col-6'>
                            <span>TOTAL INGRESADO HOY A BANCOS POR CAJA</span>
                        </div>
                        <div class='col-2'></div>
                        <div class='col-2 text-center'> 35.497,95 </div>
                        <div class='col-2'></div>
                    </div>
                    <div class='row bordes'>
                        <div class='col-6'>
                            <span>SALDO TOTAL INGS POR DEPOSITAR</span>
                        </div>
                        <div class='col-2'></div>
                        <div class='col-2'></div>
                        <div class='col-2 text-center'> 201.306,93 </div>
                    </div>
                    <div class='row bordes'>
                        <div class='col-6'>
                            <span>SALDO CONTABLE FINAL DE CAJA</span>
                        </div>
                        <div class='col-2 text-center'>135.405,96</div>
                        <div class='col-2 text-center'>35.497,95</div>
                        <div class='col-2 text-center'>201.306,93</div>
                    </div>
                    <div class='row mb-4 bordes'>
                        <div class='col-6'>
                            <span>DIFERENCIA CONTABLE DE CAJA</span>
                        </div>
                        <div class='col-2 text-center'>0.00</div>
                        <div class='col-2 text-center'>0.00</div>
                        <div class='col-2 text-center'>0.00</div>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class='cardMarginBottom'>
            <div class='row m-2'>
                <div fxLayout="row">
                    <div class="selected-project">IMPORTES PENDIENTES POR CONTABILIZAR</div>
                </div>
            </div>
            <dx-data-grid class='m-2' [dataSource]="pendientes" [columns]="columns" [showBorders]="true">
            </dx-data-grid>
        </mat-card>

        <mat-card class='cardMarginBottom'>
            <div class='row m-2'>
                <div fxLayout="row">
                    <div class="selected-project">COMENTARIOS</div>
                </div>
            </div>
            <textarea disabled class="form-control" rows="10"
                style="background-color: white; overflow:auto;resize:none;"> </textarea>
        </mat-card>
    </div>


</div>